div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
}

p {
  font-family: "Roboto";
  font-size: 2rem;
  padding: 20px;
  margin: 50px auto;
  max-width: 280px;
  background-color: #d9d9d9;
}
