input,
textarea {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 238px;
}

textarea {
  min-height: 220px;
}

.form-wrapper > * {
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: column;
}

.icons {
  position: relative;
  display: flex;
  flex-direction: column;
}

.fa-brands {
  font-size: 1.5em;
}

.info img {
  border-radius: 50%;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.close-paragraph {
  line-height: 0.2;
}

.contact-cta {
  font-family: "Roboto";
  font-size: 1.5rem;
  margin: auto;
  background-color: #c2c2c2;
  border-radius: 10px;
  border: 2px solid #000;
  text-transform: uppercase;
}

.contact-cta:hover {
  background-color: #4ee05d;
  border: 2px solid #000;
}

@media (min-width: 600px) {
  .box-style {
    max-width: 280px;
  }
}

@media (min-width: 800px) {
  .contact {
    display: flex;
    flex-direction: row;
  }

  .box-style,
  form {
    margin: auto;
    min-height: 620px;
    min-width: 280px;
  }
}
