input,
textarea {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
}

textarea {
  min-height: 220px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.form-wrapper > * {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: column;
  max-width: 25px;
}

.contact-card {
  width: 100%;
}

p,
label {
  font-size: 1.2rem;
}

.fa-brands {
  font-size: 2rem;
  color: black;
}

.info img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.close-paragraph {
  line-height: 0.2;
}

.contact-cta {
  font-family: "Roboto";
  font-size: 1.5rem;
  margin: auto;
  background-color: #c2c2c2;
  border-radius: 10px;
  border: 2px solid #000;
  text-transform: uppercase;
}

.contact-cta:disabled {
  cursor: not-allowed;
}

.contact-cta:hover {
  background-color: #4ee05d;
  border: 2px solid #000;
}
