div img {
  position: relative;
  max-width: 180px;
  max-height: 180px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.2rem;
}

.old-price {
  text-decoration: line-through;
}

p {
  overflow-wrap: break-word;
}

.product-card a {
  padding: 8px 30px;
  background-color: #c2c2c2;
  border: 2px solid #000;
  margin: 10px;
}

.product-card a:hover {
  background-color: #4ee05d;
}
