.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.2rem;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-decoration: none;
  padding: 20px;
}

.product:hover {
  background-color: #838383;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
}

.product img {
  max-width: 180px;
  max-height: 180px;
}
