body {
  margin: 0px;
}

header,
footer {
  background-color: #58acc1;
  font-family: "Roboto";
}

footer {
  padding: 20px;
  text-align: center;
}

header p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  color: #0a3641;
  border-bottom: 1px solid #000;
}

header img {
  width: 70px;
  height: 35px;
}

nav {
  display: none;
  position: fixed;
  top: 57px;
  right: 0px;
  background: #0a3641;
  z-index: 10;
}

nav li {
  padding: 10px 20px;
  margin: 0px;
  text-align: center;
  display: block;
  font-size: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.fa-bars {
  font-size: 1.2rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

main {
  overflow: hidden;
  background: #d9d9d9;
  min-height: 100vh;
}

h1 {
  font-family: "Roboto";
  font-weight: 300;
  color: #0a3641;
  font-size: 1.6rem;
}
.box-style {
  font-family: "Roboto";
  margin: 20px auto;
  border-radius: 20px;
  background-color: #d9d9d9;
  text-align: left;
}

.box-width {
  width: 100%;
  margin-left: 20px;
}

.form-error {
  display: none;
  color: red;
  margin-top: 2px;
}

.success-message {
  background: green;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  margin: 10px auto;
  font-family: "Roboto";
}

.cta {
  text-decoration: none;
  padding: 8px 20px;
  color: black;
  background-color: #999999;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.cta:hover {
  background-color: #4ee05d;
}

.fa-circle-left {
  font-size: 1.5rem;
  color: black;
  padding: 5px 10px;
}
