header,
footer {
  background-color: #58acc1;
  font-family: "Roboto";
}

nav li {
  display: inline-block;
  color: "#0a3641";
}

main {
  background: url(../images/jonathan-klok-NeRzxya_zyI-unsplash.jpg);
}

img {
  max-width: 100%;
  border-radius: 10px;
}
