h3 {
  font-weight: 300;
}

.sizes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  max-width: 120px;
}

.sizes {
  border: 1px solid #000;
}
.sizes-black {
  background-color: #999999;
}

.info {
  padding: 8px 20px;
  background-color: #999999;
  border-radius: 10px;
  max-width: 140px;
  position: relative;
  right: -107px;
  top: -171px;
  z-index: 100;
}

.ammount {
  border: 1px solid #000;
  max-width: 75px;
  border-radius: 20px;
  padding: 10px;
}

.selector {
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 54px;
  left: 73px;
}

.line {
  position: relative;
  height: 1px;
  background: #000;
  transform: rotate(90deg);
  width: 40px;
  bottom: 37px;
  left: 40px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

img {
  width: 200px;
  height: 200px;
}
.form-wrapper {
  font-family: "Roboto";
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  max-width: 280px;
}

.form-wrapper > * {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.div-style {
  max-height: 600px;
}

.cta {
  background-color: #999999;
  border-radius: 10px;
  text-align: center;
}
