img {
  width: 200px;
  height: 200px;
}

.jacket {
  text-align: center;
}

.product-card {
  width: min-content;
}

.product-card p {
  font-size: 1.2rem;
}

.product-card a {
  font-size: 2rem;
  background-color: #767676;
  display: block;
  width: 210px;
  margin: auto;
}

.product-card a:hover {
  background-color: #4ee05d;
}
