img {
  width: 200px;
  height: 200px;
}

.product-display,
.description-checkout {
  padding: 20px;
  margin: 20px auto;
  background-color: #d2d2d2;
  max-width: 280px;
  font-family: "Roboto";
  border-radius: 10px;
}

.description-checkout a {
  text-align: center;
  padding: 8px 20px;
  font-size: 2rem;
  background-color: #767676;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
}
